[user]
	name = Derek Odegard
	email = dereko@gmail.com
[alias]
    rpull = pull --rebase
    changelog = log --no-merges --pretty=format:"%h|%an|%ad|%s" 
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold blue)%an%Creset %Cgreen(%cr)' --abbrev-commit
[color]
	ui = auto
[advice]
	pushNonFastForward = false
	statusHints = false
[help]
	autocorrect = 1
[core]
	whitespace = trailing-space,space-before-tab
	quotepath = false
	excludesfile = /Users/derek/.gitignore
	editor = atom --wait
[diff]
	renames = copies
	mnemonicprefix = true
	tool = diffmerge
[grep]
    lineNumber = true
[color]
    ui = auto
    interactive = auto
[color "grep"]
    linenumber = yellow bold
    match = green reverse
    filename = magenta
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = red
[branch]
	autosetupmerge = true
[push]
	default = tracking
[rerere]
	enabled = true
[merge]
	stat = true
	tool = diffmerge
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "diffmerge"]
	cmd = diffmerge \"$LOCAL\" \"$REMOTE\"
[mergetool "diffmerge"]
	cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
